<div class="container my-5">
    <h1>Contact</h1>
    <form action="" class=" col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" placeholder="input your Firstname...">
            </div>
            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" placeholder="input your Lastname...">
            </div>
            <div class="col-lg-12 mt-2">
                <input type="Email" class="form-control" placeholder="input your Email...">
            </div>
            <div class="col-lg-12 mt-2">
                <input type="text" class="form-control" placeholder="input your Mobile number...">
            </div>
            <div class="col-lg-12 mt-2">
                <button class="btn btn-dark btn-md">Submit</button>
            </div>
        </div>
    </form>
</div>