<div class="container my-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus praesentium ex earum laudantium aut dolor dolorem saepe consequuntur ab quod commodi minus laboriosam, nisi animi molestiae odit facilis necessitatibus deserunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus deleniti voluptates voluptate fugiat quaerat molestiae fugit harum, assumenda placeat non culpa laudantium delectus repellendus dolore praesentium iste aliquam, atque earum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus dicta iusto accusantium laudantium vel! Adipisci, ipsam saepe voluptatibus dolore voluptate eveniet, praesentium alias voluptas unde quod fugit sed. Animi, inventore.
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit voluptate, ex mollitia molestiae pariatur ratione minima! Veniam dolores assumenda cupiditate, voluptas neque suscipit, unde explicabo est asperiores molestiae incidunt aliquid.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid autem perferendis adipisci praesentium quos modi reiciendis quidem corrupti, deleniti architecto officia neque dolorem possimus tempora rerum, porro molestiae illo atque?
        <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quos dolores nihil in ipsam, nulla doloremque sint aliquid tenetur, est eaque voluptatum nesciunt, esse ab ad deleniti odit nobis eos!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores quisquam praesentium odio, officia, totam similique exercitationem necessitatibus quibusdam, ea corporis eius error qui illo deserunt id. Quae eaque itaque aspernatur!
    </p>
</div>