<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="menudata">
            <a routerLink="../../menu" class="btn btn-dark btn-md mb-3"><i class="bi bi-arrow-left"></i>Back</a>
            <img src= {{menudata[0].foodimg}} alt="" width="100%">
            <h1 class="mt-3">{{menudata[0].foodname}}</h1>
            <p>{{menudata[0].foodDetails}}</p>
            <p>{{menudata[0].foodPrice | currency:'INR'}}</p>
        </div>
        <div class="col-lg-6">
            <h1>Enter Your Details</h1>
            <form>
                <input type="text" class="form-control" placeholder="input your Fullname">
                <input type="email" class="form-control" placeholder="input your mobile email">
                <input type="text" class="form-control" placeholder="input your mobile Number">
                <textarea class="form-control" placeholder="input your address"></textarea>
                <button class="btn btn-dark btn-md mt-3">Place Order</button>
            </form>
        </div>
    </div>
</div>